body {
  color: #333333;  
}
a {
  color: #4eb1ff;
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: underline;
}

#seeglassdoor {
  width: 321px;
}

#logo {
  text-align: center;
}
#name {
  padding: 5px 0;
  margin: 0;
}
#reviews {
  padding: 5px 0;
  border-bottom: 1px solid #e3e3e3;
}
#moreInfo {
  padding: 5px 0;
  border-bottom: 1px solid #e3e3e3;
}

/* Ratings */
#overallRating {
  font-weight: bold;
  border-bottom: 1px solid #e3e3e3;
  padding: 5px 0;
}
#overallRating .rating {
  color: #7cb228;
  font-size: 22px;
}
#cultureAndValuesRating {
  border-bottom: 1px solid #e3e3e3;
  padding: 5px 0;
}
#workLifeBalanceRating {
  border-bottom: 1px solid #e3e3e3;
  padding: 5px 0;
}
#seniorLeadershipRating {
  border-bottom: 1px solid #e3e3e3;
  padding: 5px 0;
}
#compensationAndBenefitsRating {
  border-bottom: 1px solid #e3e3e3;
  padding: 5px 0;
}
#careerOpportunitiesRating {
  border-bottom: 1px solid #e3e3e3;
  padding: 5px 0;
}

/* "Powered By" div */
#poweredBy {
  color: #666666;
  padding: 5px 0;
  text-align: right;
}
#poweredBy img {
  vertical-align: middle
}

.align-right {
  text-align: right;
}

/* Column widths */
.col-8 {
  float: left;
  width: 66.67%;
}
.col-6 {
  float: left;
  width: 50%;
}
.col-4 {
  float: left;
  width: 33.33%;
}
.col-2 {
  float: left;
  width: 16.67%;
}

.clear {
  clear: both;
}